body
{
  background-color: lightgreen;
}


.buttons
{
  background-color: lightblue;
  border-color: lightblue;
  border-radius: 50%;
  width: 100pt;
  height: 100pt;
}

.tag
{
  background-color: gold;
  border-color: gold;
}
